*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
   
  }
  
  body{
    background-color: black;
    color: white;
    
  }
  
  .logo{
    float: left;
    width: 150px;
    height: 100px;
    margin: -5px;
  }
  
  
  .navbar {
  
    height: 75px;
    width: 100%;
    text-align: right;
    background-color: rgb(58, 48, 48);
  }
  
  .menu{
    height: 25px;
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
    
  }
  
  .navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 25px 80px 0 0;
  
  }
  
  .navbar ul li a{
    text-decoration: none;
    padding: 5px 13px;
    color: White;
    transition: 0.15s ease-in-out;
    font-size: 1.2rem;
   
   
  }
  
  .navbar ul li a:hover{
    border: 1px solid navy;
    border-radius: 5px;
    background-color: white;
    color: black;
  }

  
  .introduction{
    border: 2px solid green;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
  }

  .profile{
    margin-left: auto;
    border: 1px solid red;
  }

  .profile-img{
    width: 350px;
  }

  .intro{
    border: 1px solid blue;
    position: relative;
    left: 1000px; 
  } 

  h3, h6{
    font-size: 2.1rem;
    line-height: 1.5;
  }

  span{
    color: orangered;
  }

  @media only screen and (max-width: 500px){
    .navbar{
      width: 100%;  
      height: 150px;
    }
  
    .navbar ul li{
      margin-top: 0 ;
      display: block;
      text-align: center;
      padding-top: 15px;
    }
    .introduction{
        display: flex;
    }

    .intro{
        position: relative;
        left: 15px;  
    }   
    }

  